<!DOCTYPE html>
<html>
    <head>
        <title>Note App</title>
        <style>
            .st{
                color: green;
            }
        </style>
    </head>
    <body>
        <div>
            <form method='post' action="save">
                {% csrf_token %}
                {{notes_form.as_p}}
                <button type='submit'>submit</button>
            </form>
            <a href='/admin'>admin</a>
        </div>
        <strong class="st">{{saved}}</strong>
    </body>
</html>