<!DOCTYPE html>
{% load static%}
<html>
    <head>
        <title>Note App</title>
        <link rel="stylesheet" href="{% static 'notes.css' %}">
    </head>
    <body>
        <div>
            <form method='post' action="save">
                {% csrf_token %}
                <table class="form-table">
                    {{notes_form.as_table}}
                </table>
                <button type='submit'>submit</button>
            </form>
            <a href='/admin'>admin</a>
            <a href='/view_saved'>saved</a>
            <a href='/'>back</a>
        </div>
        <strong class="st">{{saved}}</strong>
        {{title}}
        {% block saved_view %}
        {% endblock %}
    </body>
</html>